
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');

body{
	font-family: 'Work Sans', sans-serif;
	padding : 0em 1.4em;
	}
.flex{

	display:flex;

}


.caption
{

	font-size:14px;
	margin-bottom:1px;
	margin-top:1px;
	padding:0px;
	line-height: 110%

}

img:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(2.20); /* Safari and Chrome */
    -moz-transform:scale(2.20); /* Firefox */
    -ms-transform:scale(2.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}


.btn{
border:0px;
margin:0px 5px 0px 0px;
font-weight:300;
font-size:13px;
color:#333;
background-color: white;
}



.fontRe
{
	font-weight:300;
}

.fontSm
{
	font-weight:400;
}

.fontBr
{
	font-weight:500;
}

.h3
{
	font-size:16px; font-weight:400;
}

.h2
{
	font-size:14px; font-weight:400; 
}

body
{
	padding:20px 50px 50px 50px;
	color:#333;
}


.bodyWrapper
{
	text-align: left;
	font-size:20px;
	line-height: 170%;

}

.bodyWrapper >.bodyHeader
{
	font-size:28px;
	margin-top:60px;
}

.subHeader
{
	font-size:16px;
	margin:6px 0px 3px 0px;
}

a:hover
{
	color:black;
}

a:active
{
	color:black;
}

a
{
	color:black;
	text-decoration:none;

}

button{

	text-decoration: underline;

}

@media screen and (max-width: 480px) {
    .subHeader {
        font-size:17px;
        line-height:160%;


    }

    div{

    	margin-bottom:18px;
    	line-height: 180%;
    }


}
